[Unit]
Description=SmartLamp automatic brightness daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/smartlamp-brightnessd -l /sys/kernel/smartlamp/ldr -b /sys/class/backlight/intel_backlight -i 1000
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
